

<!-- <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="25px" fxLayoutGap.lt-md="0px" > -->
    <div *ngFor = "let item of createArr()">

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <!-- Car Model-->
     <mat-form-field fxFlex="100">
        <mat-label >Car Model</mat-label>
        <mat-select  name="{{item}}Model" required ngModel>
            <mat-option value="bmw" >BMW</mat-option>
            <mat-option value="lam" >Lambhorghini</mat-option>
            <mat-option value="ford" >Ford</mat-option>
            <mat-option value="Others" >Others</mat-option>
        </mat-select>
    </mat-form-field>
    <!-- Car type-->
    <mat-form-field fxFlex="50">
        <input matInput placeholder="Car Type" id="type"  name="{{item}}Type" ngModel required 
        >
    </mat-form-field>
    
</div>
</div>
<!-- </div> -->
