
 <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="25px" fxLayoutGap.lt-md="0px">

        <mat-form-field fxFlex="100">
            <mat-label >Which drivetrain do you prefer?</mat-label>
            <mat-select  name="drivetrain" 
            ngModel>
                <mat-option value="fwd" >FWD </mat-option>
                <mat-option value="rwd" >RWD </mat-option>
                <mat-option value="noidea" >I dont know</mat-option>
            </mat-select>
        </mat-form-field>
    </div> 
 <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="25px" fxLayoutGap.lt-md="0px">

    <mat-form-field fxFlex="100">
        <mat-label >Are you worried about fuel emissions?</mat-label>
        <mat-select  name="emission"
         ngModel>
            <mat-option value="yes" >Yes</mat-option>
            <mat-option value="no" >No</mat-option>
        </mat-select>
    </mat-form-field>
</div> 

<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="25px" fxLayoutGap.lt-md="0px">
    <mat-form-field fxFlex="150">
    <input matInput placeholder="How many cars do you have in your family?" id="noCars"
     type="number" name="noCars"
    ngModel required 
    oninput="this.value=this.value.replace(/[^\d]/,'')"  min=1 max=10>
</mat-form-field>
</div>



