<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <span>Automotive Sales Customer Survey</span>
  </div>
</div>
<div class="card-container">
<mat-card class="example-card">
  <!-- <mat-card-header>
    <mat-card-title>Automotive Sales Customer Survey Questionnaire</mat-card-title>
  </mat-card-header> -->
  <mat-card-content>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <!-- <fieldset > -->
      <mat-horizontal-stepper linear #stepper (selectionChange)="onStepChange($event,f)" >

          <mat-step #personal="ngModelGroup" ngModelGroup="personal"  [completed]="personal.valid">
          <ng-template matStepLabel>Personal</ng-template>
          <app-personal></app-personal>
          <button 
              mat-raised-button
              matStepperNext
              color="primary">Next</button>
        </mat-step>


        <mat-step #transportation="ngModelGroup" ngModelGroup="transportation"  *ngIf="isAdoloscent"
              [completed]="transportation.valid">
          <ng-template matStepLabel>Transportation</ng-template>
          <app-transportation></app-transportation>
          <button 
          mat-raised-button
          matStepperNext
          color="primary">Next</button>
       </mat-step>


        <mat-step #experience="ngModelGroup" ngModelGroup="experience"
         *ngIf="isEndedBeforeFirstTimers()" [completed]="experience.valid">
          <ng-template matStepLabel>First-timers</ng-template>
          <app-experience ></app-experience>
          <button 
          mat-raised-button
          matStepperNext
          color="primary">Next</button>
        </mat-step>  


        <mat-step #vehicletype="ngModelGroup" ngModelGroup="vehicletype"
          [completed]="vehicletype.valid" 
          *ngIf="!isEnded"
          >
          <ng-template matStepLabel>Vehicle Details</ng-template>
          <app-vehicletype></app-vehicletype>
          <button 
          type="button" (click) = "openNextStep()"
          mat-raised-button
          matStepperNext
          color="primary">Next</button>
        </mat-step>


        <mat-step #vehicletypemodel="ngModelGroup" ngModelGroup="vehicletypemodel"
        [completed]="vehicletypemodel.valid" 
        *ngIf = "isCarModelDone"
        >
        <ng-template matStepLabel>CarModel</ng-template>
        <app-carmodel numberOfCars={{numberOfCars}}></app-carmodel>
        <button 
        type="button" (click) = "validatePattern(f,stepper)"
        mat-raised-button
        color="primary">Next</button>
        <div color="red" *ngIf="errorCount!==0">{{MODEL_ERROR_MSG}}
          <mat-icon *ngIf="errorCount!==0" matTooltip={{TOOL_TIP_MSG}} inline="true">help</mat-icon>
        </div>
      </mat-step>


       <!--final step-->
        <mat-step >
          <ng-template matStepLabel>Done</ng-template>
          <p>{{msg}}</p>
          <br>
          <div>
            <button mat-raised-button type="button" (click)="onClick(f)" 
             color="primary">Submit Data</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    <!-- </fieldset> -->
    </form>
    <!-- <pre>{{ f.value | json }}</pre> -->
  </mat-card-content>
</mat-card>
</div>